{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Codecademy</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'smartcode/stylesm.css' %}">
</head>
<body>
    <div>
      <h2>Your Registration has been received, you will receive an email from us shortly</h2>
      
      <h3>Download the syllabus for the training</h3>

      <a href="https://download.gospelmovies.com.ng/download.php?id=3&token=8o9NrzxFP8S9WVURWwcJUuwV7JvGfyIt&download">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Syllabus
      </a>

      <h3>Send us a Whatsapp message now</h3>

      <a href="https://wa.me/2348083995832?text=Hello,%20I%20just%20registered%20for%20the%203 in%20One%20Masterclass.%20My%20name%20is%20....">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Whatsapp
      </a>
    </div>
</body>
